
/* colors

#d3d7cf  text
#729fcf  text highlighted (links)
#6086ae  text highlighted darker (visited links)

#2e3436  background
#2b3133  background highlighted

*/

/*
css box model

margin (collapses)
border
padding
content

*/

/*
use em (rel to own font size)
or pt (abs)

use margin for top/bottom (use margin collapsing)

use padding for left/right

gtk seems to draw the border outside of margin not between padding and margin

*/


#viewer {
  background-color: #2e3436;
  color: #d3d7cf;
  padding: 1em;
}

/* keep text color if window is inactive */
#viewer :backdrop {
  color: #d3d7cf;
}

#viewer > row {
  margin-top: 0.5em;
}

#viewer link {
  color: #729fcf;
}

#viewer link:visited {
  color: #6086ae;
}


#viewer #elem {
  margin-top: 0.5em;
}

#viewer image {
/*
  padding-top: 0.5em;
  padding-bottom: 0.5em;
*/
}


#viewer #literal label {
  font-family: monospace;
  font-size: 0.9em;

  /* workaround: label height request too small */
  margin-bottom: 30px;
}

#viewer #literal {
  padding: 1em;

  background-color: #2b3133;
}

#viewer #title label {
  font-size: 1.2em;

}


#viewer #h1 {
  font-weight: bold;
  font-size: 1.3em;

  margin-top: 1em;
}

#viewer #h2 {
  font-weight: bold;
  font-size: 1.2em;

  margin-top: 1em;
}

#viewer #h3 {
  font-weight: bold;
  font-size: 1.1em;

  margin-top: 1em;
}

#viewer #h4 {
  font-weight: bold;

  margin-top: 1em;
}

#viewer #h5 {
  font-weight: bold;

  margin-top: 1em;
}


#viewer .indent1 {
  margin-left: 1em;
}

#viewer .indent2 {
  margin-left: 3em;
}

#viewer .indent3 {
  margin-left: 5em;
}

#viewer .indent4 {
  margin-left: 7em;
}

#viewer .indent5 {
  margin-left: 9em;
}



