


p {
  margin-top: 0;
  margin-bottom: 1em;
}

body {
  color: #d3d7cf;

  background-color: #2e3436;
/* transparent background
  background-color: rgba(0, 0, 0, 0);
*/

  line-height: 1.2;
}

div.figure > img,
a.image-reference > img {
  /* max size */
  display: block;
  max-width: 80%;
  max-height: 60%;

  /* spacing */
  margin-top: 10px;
  margin-bottom: 10px;
  /* center */
  margin-left: auto;
  margin-right: auto;

  /* dark mode and transparency */
  background-color: #5c5c5c;
}

a {
  color: #729fcf;
}


video {
  /* max size */
  display: block;
  max-width: 80%;
  max-height: 60%;

  /* spacing */
  margin-top: 10px;
  margin-bottom: 10px;
  /* center */
  margin-left: auto;
  margin-right: auto;
}


.first {
  margin-top: 0 ! important;
}

.last, .with-subtitle {
  margin-bottom: 0 ! important;
}

.hidden {
  display: none;
}

a.toc-backref {
  text-decoration: none;
  color: #d3d7cf;
}

blockquote.epigraph {
  margin: 2em 5em;
}

dl.docutils dd {
  margin-bottom: 0.5em }

object[type="image/svg+xml"], object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}

dl.docutils dt {
  font-weight: bold;
}

div.abstract {
  margin: 2em 5em;
}

div.abstract p.topic-title {
  font-weight: bold;
  text-align: center;
}

div.admonition,
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning {
  margin: 2em;
  border: 1px;
  border-style: solid;
  border-color: #a0a39d;
  padding: 1em;
}

div.admonition p.admonition-title,
div.hint p.admonition-title,
div.important p.admonition-title,
div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold;
  font-family: sans-serif;
}

div.attention p.admonition-title,
div.caution p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title,
div.warning p.admonition-title,
.code .error {
  color: #ce5c00;
  font-weight: bold;
  font-family: sans-serif;
}

div.dedication {
  margin: 2em 5em;
  text-align: center;
  font-style: italic;
}

div.dedication p.topic-title {
  font-weight: bold;
  font-style: normal;
}

div.figure {
  margin-left: 2em;
  margin-right: 2em;
}

div.footer,
div.header {
  clear: both;
  font-size: smaller;
}

div.line-block {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.line-block div.line-block {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
}

div.sidebar {
  margin: 0 0 0.5em 1em;
  padding: 1em;
  background-color: #434c4f;
  width: 40%;
  float: right;
  clear: right;
}

div.sidebar p.rubric {
  font-family: sans-serif;
  font-size: medium;
}

div.system-messages {
  margin: 5em;
}

div.system-messages h1 {
  text-align: center;
  color: red;
}

div.system-message {
  border-collapse: collapse;
  padding: 1em;
}

div.system-message p.system-message-title {
  color: red;
  font-weight: bold;
}

div.topic {
  margin: 2em;
}

h1.section-subtitle,
h2.section-subtitle,
h3.section-subtitle,
h4.section-subtitle,
h5.section-subtitle,
h6.section-subtitle {
  margin-top: 0.4em;
}

h1.title {
  font-size: 120%;
  text-align: center;
}
h2.subtitle {
  font-size: 120%;
  text-align: center;
  padding-bottom: 10px;
}
div.section h1 {
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 120%;
}
div.section h2 {
  padding-top: 10px;
  font-size: 110%;
}
div.section h3 {
  padding-top: 10px;
}

hr.docutils {
  width: 25%;
  border: 1px solid #434c4f;
}

img.align-left,
.figure.align-left,
object.align-left {
  clear: left;
  float: left;
  margin-right: 1em;
}

img.align-right,
.figure.align-right,
object.align-right {
  clear: right;
  float: right;
  margin-left: 1em;
}

img.align-center,
.figure.align-center,
object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left;
}

.align-center {
  clear: both;
  text-align: center;
}

.align-right {
  text-align: right;
}

div.align-right {
  text-align: inherit;
}

ol.simple, ul.simple {
  margin-bottom: 1em;
}

ol.arabic {
  list-style: decimal;
}

ol.loweralpha {
  list-style: lower-alpha;
}

ol.upperalpha {
  list-style: upper-alpha;
}

ol.lowerroman {
  list-style: lower-roman;
}

ol.upperroman {
  list-style: upper-roman;
}

p.attribution {
  text-align: right;
  margin-left: 50%;
}

p.caption {
  font-style: italic;
}

p.credits {
  font-style: italic;
  font-size: smaller;
}

p.label {
  white-space: nowrap;
}

p.rubric {
  font-weight: bold;
  font-size: larger;
  color: #edd400;
  text-align: center;
}

p.sidebar-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
}

p.sidebar-subtitle {
  font-family: sans-serif;
  font-weight: bold;
}

p.topic-title {
  font-weight: bold;
}

pre.address {
  margin-bottom: 0;
  margin-top: 0;
  font: inherit;
}

pre.literal-block,
pre.doctest-block,
pre.math,
pre.code {
  margin-left: 2em;
  margin-right: 2em;
}

/* TODO check */
pre.code .ln {
  color: grey;
}

pre.code,
code {
  background-color: #2b3133;
  padding: 10px;
  border-radius: 3px;

  overflow-x: auto;
  overflow-y: hidden;
}

pre.code .comment,
code .comment {
  color: #888a85;
}

pre.code .keyword,
code .keyword {
  color: #ad7fa8;
}

pre.code .literal.string,
code .literal.string {
  color: #edd400;
}

pre.code .name.builtin,
code .name.builtin {
  color: #729fcf;
}

pre.code .deleted,
code .deleted {
  background-color: #DEB0A1;
}

pre.code .inserted,
code .inserted {
  background-color: #A3D289;
}


span.classifier {
  font-family: sans-serif;
  font-style: oblique;
}

span.classifier-delimiter {
  font-family: sans-serif;
  font-weight: bold;
}

span.interpreted {
  font-family: sans-serif;
}

span.option {
  white-space: nowrap;
}

span.pre {
  white-space: pre;
}

span.problematic {
  color: red;
}

span.section-subtitle {
  font-size: 80%;
}


table {
  border-collapse: collapse;
  border: none;
  margin-bottom: 1em;
}

th, td {
  border: none;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: top;
}
/*
th:not(.field-name) {
  border-bottom: 1px solid #d3d7cf;
}
*/
th {
  font-weight: bold;
}

tbody tr:nth-child(even):not(.field) {
  background: #363c3e;
}


h1 tt.docutils,
h2 tt.docutils,
h3 tt.docutils,
h4 tt.docutils,
h5 tt.docutils,
h6 tt.docutils {
  font-size: 100%;
}

ul.auto-toc {
  list-style-type: none;
}

h1 { font-size: 1.3em }
h2 { font-size: 1.2em }
h3 { font-size: 1.1em }
h4 { font-size: 1.0em }
h5 { font-size: 1.0em }
h6 { font-size: 1.0em }



